<div class="container">

	<div class="row">
				<%= link_to "Part 1", 'part1', :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>

			<div class="row">
				<%= link_to "Part 2", 'part2', :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>

			<div class="row">
				<%= link_to "Part 3", 'part3', :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>


				<div class="row">
				<%= link_to "Part 4", 'part4', :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>

				<div class="row">
				<%= link_to "Part 5", 'part5', :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>

				<div class="row">
				<%= link_to "All Parts for printing", 'complete', :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>

</div>