<div class="container">

	<div class="row">
				<%= link_to "Part 1", page_path('3_part1'), :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>

			<div class="row">
				<%= link_to "Part 2", page_path('3_part2'), :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>

			<div class="row">
				<%= link_to "Part 3", page_path('3_part3'), :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>


				<div class="row">
				<%= link_to "Part 4", page_path('3_part4'), :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>

				<div class="row">
				<%= link_to "Part 5", page_path('3_part5'), :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>

				<div class="row">
				<%= link_to "All Parts for printing", page_path('3_complete'), :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>

</div>