<div class="container">

	<div class="section-title">
  <h3>Section 4: Sentence Completion</h3>
  <p>Questions based on the vocabulary we learned this term.</p>
 

</div>   

	<div class="card table">
		<table>
			<tr>
				<td>disgusting</td>
				<td>bootleg</td>
				<td>massive</td>
				<td>hiking</td>
			</tr>

			<tr>
				<td>frost</td>
				<td>sightseeing</td>
				<td>explore</td>
				<td>erosion</td>
			</tr>

			<tr>
				<td>swat</td>
				<td>weird</td>
				<td>clone</td>
				<td>string</td>
			</tr>

			<tr>
				<td>mind reading</td>
				<td>rip</td>
				<td>rafting</td>
				<td>balance</td>
			</tr>
		
		</table>
	</div>


	<div class="card">
<ul>

<li>To make an exact copy of something:
		<%= render 'pages/3options' %>
</li>

<li>If something is strange or unusual it is
		<%= render 'pages/3options' %>
</li>

<li>Sometimes you have to ______ a fly or wasp.
		<%= render 'pages/3options' %>
</li>

<li>The destruction of land by the movement of water is called:
		<%= render 'pages/3options' %>
</li>

<li>People will one day travel to other planets and ______ space.
		<%= render 'pages/3options' %>
</li>

<li>People on holiday like to look at interesting places, this is called:
		<%= render 'pages/3options' %>
</li>

<li>In the very cold weather, __________ sometimes appears on the ground overnight. 
		<%= render 'pages/3options' %>
</li>

<li>Very very very big:
		<%= render 'pages/3options' %>
</li>

<li>Fake of counterfeit: 
		<%= render 'pages/3options' %>
</li>

<li>The opposite of delicious:
		<%= render 'pages/3options' %>
</li>



</ul>

</div>

<div class="row bottom-links">
    <div class="col-md-4">
      <%= link_to "Back", page_path('3_part4'), :class=>"btn btn-lg btn-link" %>
    </div>

    <div class="col-md-4">
      <%= link_to "Home", page_path('home'), :class=>"btn btn-lg btn-link" %>
    </div>
    
    <div class="col-md-4">
      <%= link_to "All Parts", page_path('3_complete'), :class=>"btn btn-lg btn-link" %>
    </div>

</div>

</div>