<div class="container">

	<div class="row">
				<%= link_to "Part 1", '6_part1', :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>

			<div class="row">
				<%= link_to "Part 2", '6_part2', :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>

			<div class="row">
				<%= link_to "Part 3", '6_part3', :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>


				<div class="row">
				<%= link_to "Part 4", '6_part4', :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>

				<div class="row">
				<%= link_to "Part 5", '6_part5', :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>

				<div class="row">
				<%= link_to "All Parts for printing", '6_complete', :class=>"btn btn-lg btn-outline-primary btn-block" %>
		</div>

</div>