<div class="container">
	<div class="card">
		<table>
			<tr>
				<td>gills</td>
				<td>apex predator</td>
				<td>stand-up comedy</td>
				<td>---</td>
			</tr>

			<tr>
				<td>extinct</td>
				<td>superpower</td>
				<td>food chain</td>
				<td>Fin</td>
			</tr>

			<tr>
				<td>poke</td>
				<td>crustaceans</td>
				<td>texture</td>
				<td>Cartilage</td>
			</tr>

			<tr>
				<td>promenade</td>
				<td>Pier</td>
				<td>Wish</td>
				<td>Hypothesize</td>
			</tr>
		
		</table>
	</div>


	<div class="card">
<ul>

<li>The organ that fish use to extract oxygen from water
		<%= render 'pages/6options' %>
</li>

<li>An animal at the top of the food chain that eats other animals is an  
		<%= render 'pages/6options' %>
</li>

<li>Note Udom is famous for his 
		<%= render 'pages/6options' %>
</li>

<li>There are no more dinosaurs on Earth, because they are 
		<%= render 'pages/6options' %>
</li>

<li>X-ray vision, the ability to fly and superstrength are some of superman's 
		<%= render 'pages/6options' %>
</li>

<li>A prodding, jabbing or thrusting movement is a
		<%= render 'pages/6options' %>
</li>

<li>The woodlouse, prawn and crab are all types of
		<%= render 'pages/6options' %>
</li>

<li>The way something feels to touch, for example rough, smooth or spiky is known as it's
		<%= render 'pages/6options' %>
</li>

<li>A path that is for walking on, along a beach or seafront is called a 
		<%= render 'pages/6options' %>
</li>

<li>Sharks are at the top of the 
		<%= render 'pages/6options' %>
</li>



</ul>

</div>

	<div class="row bottom-links">
    <div class="col-md-4">
      <%= link_to "Back", page_path('6_part4'), :class=>"btn" %>
    </div>

    <div class="col-md-4">
      <%= link_to "Home", page_path('home'), :class=>"btn" %>
    </div>
    
    <div class="col-md-4">
      <%= link_to "All Parts", page_path('6_complete'), :class=>"btn" %>
    </div>

</div>

</div>